@media only screen and (max-width: 1200px) {
  .project img {
    width: 25rem;
    height: 18rem;
  }

  .desc {
    height: 19rem;
    font-size: 1.1rem;
  }

  .about p {
    font-size: 1.2rem;
  }
}

/* /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  .mainText h2 {
    font-size: 2.3rem;
  }
  .button {
    padding: 1rem 1.6rem;
  }
  .button a {
    font-size: 1.8rem;
  }

  .skill {
    padding: 0.5rem;
  }

  .about p {
    margin: 2rem 4rem;
    font-size: 1.1rem;
  }
  #profilePic {
    margin-right: 1rem;
  }
  #profilePic img {
    height: 50%;
  }
}

/* /* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 768px) {
  .project img {
    width: 30rem;
    height: 20rem;
  }

  .desc {
    height: 21rem;
  }
  .naslov {
    height: 25rem;
  }

  .mainText h2 {
    font-size: 1.8rem;
  }
  .about p {
    margin: 2rem 4rem;
    font-size: 1rem;
  }
  #profilePic img {
    height: 40%;
    align-self: center;
  }

  .text {
    width: 50%;
  }
  #form {
    width: 90%;
  }
  #form textarea {
    width: 100%;
  }
  .flex-row {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #main img {
     
    
display: none;
}
#main{
    background-image: url('../img/backround3.jpg'); 
    background-size: cover; 
    background-position: center;  
     height: 100vh; 
    width: 100vw; 
    
  
}

  .align-center {
    display: flex;
    align-items: center;
    justify-content: center;
 
  }
  .mainText {
    width: 100%;
    margin-bottom: 17rem;
    margin-right: 0;
 }
  #main h2 {
    font-size: 1.5rem;
  }
  .button {
    margin-bottom: 1rem;
    padding: 0.9rem;
  }
  .button a {
    font-size: 1.3rem;
  }
  #hamitems ul {
    height: 40vh;
  }

  .projekti {
    padding: 5rem 2rem;
  }
  .project img {
    width: 100%;
    height: 100%;
    margin-bottom: 0.5rem;

  }
  .desc {
    width: 100%;
    height: 80%;
    font-size: 0.7rem;
    line-height: 0.8rem;
    padding: 1rem;
  }

  .naslov {
    height: auto;
  }
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  .skill {
    width: 70%;
  }
  .seeMore {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 5rem;
  }
  .seeMore a {
    font-size: 0.7rem;
  }
  .about p {
    margin: 1rem 2rem;
    font-size: 0.8rem;
  }
  .aboutme {
    flex-direction: column;
  }

  #profilePic img {
    height: 11rem;

  }

  .about button {
    margin: 1rem 6rem;

    padding: 1rem;
  }
  .about button a {
    font-size: 0.8rem;
  }
  #form {
    width: 100%;
  }
  .text {
    width: 100%;
    font-size: 50%;
  }
  #submit {
    width: 50%;
  }

  .flex-row {
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
}
