/* @media only screen and (max-device-width: 768px) {
  #nav {
    display: none;
  }


  #hamitems li a {
    display: block;
    width: 100%;
    color: #ea294c;
  }

  #hamnav label {
    display: inline-block;
    color: #3a5d96;
    background: #f38ea0;
    padding: 10px;
  }

  #hamitems {
    display: none;
  }
  #hamnav input:checked ~ #hamitems {
    display: block;
  }

  #hamnav {
    position: fixed;
    top: 1.5rem;
    right: 4rem;
  }

  .mainText {
    margin: -2rem;
    color: #58729c;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .mainText h1 {
    font-size: 3rem;
  }
  .mainText h2 {
    font-size: 2rem;
  }
  .button a {
    font-size: 100%;
  }
  .about p {
    font-size: 1rem;
    margin: 3rem 2rem;
  }
  .skills {
    margin: 4rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  .skill {
    width: auto;
  }
  .slike {
    flex-direction: column;
    height: 100%;
  }
  .project img {
    width: auto;
  }
  #form,
  #form input,
  #form textarea {
    width: 100%;
  }
} */

@media only screen and (max-width: 1200px) {
}

/* /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
  .mainText h2 {
    font-size: 2.3rem;
  }
  .button {
    padding: 1rem 1.6rem;
  }
  .button a {
    font-size: 1.8rem;
  }
  .project img {
    height: 10rem;
  }
  .seeMore {
    padding: 0.8rem;
    width: 6rem;
  }
  .skill {
    padding: 0.5rem;
  }
}

/* /* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 768px) {
  h2{
    font-size: 1.5rem;
  }
  .mainText h2 {
    font-size: 2.1rem;
  }
  .button {
    padding: 1rem 1.5rem;
    
  }
  .naslov{
    padding: 2rem;
  }
  /* .mainText{
    align-items: flex-start;
  } */
}
